body,p { font-family: Arial, Helvetica, sans-serif; background-color: white; color: black }
a:link { text-decoration: none; color: blue; }
a:visited { text-decoration: none; color: purple; }
a:hover { color: red; }

.menu { background-color: #f0f0f0; font-size: 12; }
.menuNObg { font-size: 9; }

h1 { font-size: 16; }
h2 { font-size: 14; }
//p { font-size: 12; }
//th,td { font-size: 9; }
